
RewriteEngine on
RewriteCond %{HTTP_HOST} ^camino\.minivaxx\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.camino\.minivaxx\.com$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ "https\:\/\/www\.camino\.bo\/$1" [R=301,L]

